#contain {
  padding-bottom: 1.2rem;
}

.movie-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.movie-title button {
  min-width: 80px;
  border-radius: 18px;
  padding: 5px;
}

.movie-details-container {
  background-color: rgba(17, 17, 17, 0.856);
  border-radius: 18px;
  padding-top: 10px;
}

#heading {
  margin: 0 auto;
  max-width: 85%;
}

#heading h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(228, 163, 44);
  text-decoration: underline;
}

#movie-presenter {
  padding: 1rem 7rem;
  margin-top: 0.2rem;
}

#movie-img {
  display: flex;
  justify-content: center;
}

#movie-img img {
  height: 300px;
  object-fit: cover;
}

#movie-details {
  padding: 0;
  background-color: transparent;
}

#movie-details div {
  padding: 0.2rem 0;
  color: rgb(228, 163, 44);
}

#movie-details div span {
  color: rgb(209, 150, 40);
  text-decoration: underline;
}

@media only screen and (max-width: 995px) {
  #movie-img {
    margin-bottom: 15px;
  }
}
