<header id="main-header">
  <a href="index.html" id="logo">MyCinema</a>
  <nav>
    <ul>
      <li>
        <a href="">Browse Movies</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
  <a href="#side-drawer" class="menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </a>
</header>
<aside id="side-drawer">
  <header>
    <a href="#" class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </header>
  <nav>
    <ul>
      <li>
        <a href="">Browse Movies</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
</aside>
