<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
  <a href="#" class="navbar-brand">MyCinema</a>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navLinks"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navLinks">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="" class="nav-link">Browse Movies</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
