#mainNavbar {
  background: #222222;
  /* height: 5rem; */
  font-size: 1.5rem;
  font-weight: 100;
  padding: 0.8rem 1rem !important;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: rgb(228, 163, 44);
}

#mainNavbar .navbar-brand {
  color: rgb(185, 131, 31);;
  font-size: 1.5rem;
}

#navLinks {
  justify-content: end;
}