main {
    min-height: 500px;
    height: auto;
    padding-top: 3rem;
    /* margin: 3rem auto 0 auto; */
    background-image: url("../app/images/hall.jpg");
    background-position: center;
    background-size: cover;
  }