#contain {
  padding-bottom: 1.2rem;
}

#heading {
  margin: 0 auto;
  max-width: 85%;
}

#heading h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(228, 163, 44);
  text-decoration: underline;
}

#div-t {
  margin: 0 auto;
  max-width: 85%;
}

table {
  margin: 0 auto;
  width: 100%;
  background-color: rgb(235, 211, 166);
}

th {
  color: #212529;
  font-size: 16px;
  font-weight: 600;
}

td {
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  max-width: 450px !important;
}

.see-details {
  color: rgb(78, 76, 76);
}

.see-details:hover {
  color: rgb(54, 54, 54);
  text-decoration: underline;
  cursor: pointer;
}

mat-paginator {
  background-color: rgb(235, 211, 166) !important;
}
