<div class="container container-sm pt-5">
  <div id="contain" class="row">
    <div id="heading" class="col-md-12">
      <h2>Movies Playing Now</h2>
    </div>
    <div class="col-md-12 pt-3 pb-1 pr-1 pl-0" id="div-t">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-center">Titlos</th>
          <td mat-cell class="text-center" *matCellDef="let movie">
            {{ movie.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="release_date">
          <th mat-header-cell *matHeaderCellDef class="text-center">Release Date</th>
          <td mat-cell class="text-center" *matCellDef="let movie">
            {{ movie.release_date | date:'d MMMM, y' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef class="text-center"></th>
          <td mat-cell class="text-center" *matCellDef="let movie; let i = index">
            <a class="see-details" (click)="seeMovieDetails(i)">Details...</a>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      ></mat-paginator>
    </div>
  </div>
</div>
